body{

  background-position: center;
}


.clock {
  border-radius: 50%;
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMjYu%0D%0ANiAyMzMuOCI+PHBhdGggZD0iTTEwNS41IDIyLjdWNi40aC01LjlWNC4zYy44IDAgMS41LS4xIDIu%0D%0AMi0uMi43LS4xIDEuNC0uMyAyLS43LjYtLjMgMS4xLS44IDEuNS0xLjMuNC0uNi43LTEuMy44LTIu%0D%0AMWgyLjF2MjIuN2gtMi43ek0xMTQuMSA0LjhjLjMtMSAuOC0xLjggMS40LTIuNS42LS43IDEuNC0x%0D%0ALjMgMi40LTEuNy45LS40IDItLjYgMy4yLS42IDEgMCAxLjkuMSAyLjguNC45LjMgMS42LjcgMi4z%0D%0AIDEuMi42LjUgMS4xIDEuMiAxLjUgMiAuNC44LjYgMS43LjYgMi44IDAgMS0uMiAxLjktLjUgMi43%0D%0Acy0uNyAxLjUtMS4yIDIuMWMtLjUuNi0xLjEgMS4yLTEuOCAxLjYtLjcuNS0xLjMgMS0yIDEuNC0u%0D%0ANy40LTEuNC44LTIuMSAxLjNzLTEuMy45LTEuOSAxLjNjLS42LjUtMS4xIDEtMS41IDEuNXMtLjcg%0D%0AMS4yLS44IDEuOWgxMS42djIuNGgtMTQuOGMuMS0xLjMuMy0yLjUuNy0zLjQuNC0uOS44LTEuOCAx%0D%0ALjQtMi41czEuMi0xLjMgMi0xLjljLjctLjUgMS41LTEgMi4zLTEuNSAxLS42IDEuOC0xLjEgMi41%0D%0ALTEuNnMxLjMtMSAxLjgtMS41LjgtMS4xIDEuMS0xLjcuNC0xLjMuNC0yLjFjMC0uNi0uMS0xLjIt%0D%0ALjQtMS43LS4yLS41LS41LS45LS45LTEuM3MtLjktLjYtMS40LS44Yy0uNS0uMi0xLjEtLjMtMS43%0D%0ALS4zLS44IDAtMS41LjItMiAuNS0uNi4zLTEgLjgtMS40IDEuMy0uNC41LS42IDEuMS0uOCAxLjhz%0D%0ALS4yIDEuMy0uMiAySDExNGMtLjMtMS0uMi0yLjEuMS0zLjF6TTE2Ni41IDM4LjJWMjEuOWgtNS45%0D%0Adi0yLjJjLjggMCAxLjUtLjEgMi4yLS4yLjctLjEgMS40LS4zIDItLjcuNi0uMyAxLjEtLjggMS41%0D%0ALTEuMy40LS42LjctMS4zLjgtMi4xaDIuMXYyMi43aC0yLjd6TTE5OC45IDU5LjJjLjMtMSAuOC0x%0D%0ALjggMS40LTIuNS42LS43IDEuNC0xLjMgMi40LTEuNy45LS40IDItLjYgMy4yLS42IDEgMCAxLjku%0D%0AMSAyLjguNC45LjMgMS42LjcgMi4zIDEuMi42LjUgMS4xIDEuMiAxLjUgMiAuNC44LjYgMS43LjYg%0D%0AMi44IDAgMS0uMiAxLjktLjUgMi43cy0uNyAxLjUtMS4yIDIuMWMtLjUuNi0xLjEgMS4yLTEuOCAx%0D%0ALjYtLjcuNS0xLjMgMS0yIDEuNC0uNy40LTEuNC44LTIuMSAxLjNzLTEuMy45LTEuOSAxLjNjLS42%0D%0ALjUtMS4xIDEtMS41IDEuNXMtLjcgMS4yLS44IDEuOWgxMS42Vjc3SDE5OGMuMS0xLjMuMy0yLjUu%0D%0ANy0zLjQuNC0uOS44LTEuOCAxLjQtMi41czEuMi0xLjMgMi0xLjljLjctLjUgMS41LTEgMi4zLTEu%0D%0ANSAxLS42IDEuOC0xLjEgMi41LTEuNnMxLjMtMSAxLjgtMS41LjgtMS4xIDEuMS0xLjcuNC0xLjMu%0D%0ANC0yLjFjMC0uNi0uMS0xLjItLjQtMS43LS4yLS41LS41LS45LS45LTEuM3MtLjktLjYtMS40LS44%0D%0AYy0uNS0uMi0xLjEtLjMtMS43LS4zLS44IDAtMS41LjItMiAuNS0uNi4zLTEgLjgtMS40IDEuMy0u%0D%0ANC41LS42IDEuMS0uOCAxLjhzLS4yIDEuMy0uMiAyaC0yLjdjLS4yLTEuMS0uMS0yLjEuMi0zLjF6%0D%0ATTIxNy42IDExNS4xSDIxOC41Yy42IDAgMS4xLS4xIDEuNi0uMnMxLS40IDEuNC0uN2MuNC0uMy43%0D%0ALS43LjktMS4yLjItLjUuNC0xIC40LTEuNiAwLTEuMi0uNC0yLjEtMS4yLTIuNy0uOC0uNi0xLjct%0D%0ALjktMi45LS45LS43IDAtMS40LjEtMS45LjQtLjUuMy0xIC42LTEuMyAxLjEtLjQuNC0uNiAxLS44%0D%0AIDEuNi0uMi42LS4zIDEuMi0uMyAxLjloLTIuN2MwLTEuMS4yLTIuMS41LTNzLjgtMS43IDEuMy0y%0D%0ALjNjLjYtLjYgMS4zLTEuMSAyLjItMS41LjktLjQgMS45LS41IDMtLjUgMSAwIDEuOS4xIDIuNy40%0D%0AczEuNi42IDIuMiAxLjFjLjYuNSAxLjEgMS4xIDEuNSAxLjlzLjUgMS43LjUgMi43YzAgMS0uMyAx%0D%0ALjktLjkgMi43LS42LjgtMS4zIDEuNC0yLjIgMS44di4xYzEuNC4zIDIuNCAxIDMuMSAyIC43IDEg%0D%0AMSAyLjIgMSAzLjYgMCAxLjEtLjIgMi4xLS42IDMtLjQuOS0xIDEuNi0xLjcgMi4ycy0xLjUgMS0y%0D%0ALjUgMS4zLTIgLjQtMyAuNGMtMS4yIDAtMi4yLS4yLTMuMS0uNS0uOS0uMy0xLjctLjgtMi40LTEu%0D%0ANC0uNy0uNi0xLjItMS40LTEuNS0yLjMtLjQtLjktLjUtMi0uNS0zLjFoMi43YzAgMS41LjUgMi43%0D%0AIDEuMyAzLjYuOC45IDIgMS40IDMuNiAxLjQuNyAwIDEuMy0uMSAxLjktLjMuNi0uMiAxLjEtLjUg%0D%0AMS42LS45cy44LS44IDEuMS0xLjQuNC0xLjIuNC0xLjhjMC0uNy0uMS0xLjMtLjQtMS45cy0uNi0x%0D%0ALTEtMS40LS45LS43LTEuNS0uOC0xLjItLjMtMS45LS4zYy0uNiAwLTEuMSAwLTEuNi4xVjExNWMt%0D%0ALjEuMSAwIC4xLjEuMXpNMjE0LjIgMTczLjh2Mi40aC0zLjF2NS4zaC0yLjZ2LTUuM2gtMTB2LTIu%0D%0ANmwxMC4zLTE0LjhoMi4ydjE1aDMuMnptLTUuNi0xMS4xbC03LjYgMTEuMWg3LjZ2LTExLjF6TTE2%0D%0AMy43IDE5OS40bC0xLjIgNi41LjEuMWMuNS0uNiAxLjEtMSAxLjktMS4yLjgtLjMgMS42LS40IDIu%0D%0AMy0uNCAxIDAgMiAuMiAyLjguNS45LjMgMS43LjggMi4zIDEuNS43LjcgMS4yIDEuNSAxLjYgMi40%0D%0Acy42IDIuMS42IDMuNGMwIDEtLjIgMS45LS41IDIuOC0uMy45LS44IDEuNy0xLjUgMi40cy0xLjUg%0D%0AMS4zLTIuNSAxLjctMi4xLjYtMy41LjZjLTEgMC0xLjktLjEtMi44LS40cy0xLjYtLjctMi4zLTEu%0D%0AMi0xLjItMS4yLTEuNi0yYy0uNC0uOC0uNi0xLjctLjYtMi44aDIuN2MwIC42LjIgMS4xLjQgMS42%0D%0Acy42LjkgMSAxLjMuOS43IDEuNS45Yy42LjIgMS4yLjMgMS45LjMuNiAwIDEuMy0uMSAxLjgtLjMu%0D%0ANi0uMiAxLjEtLjYgMS41LTEgLjQtLjQuOC0xIDEtMS43LjMtLjcuNC0xLjUuNC0yLjQgMC0uNy0u%0D%0AMS0xLjQtLjQtMi4xcy0uNi0xLjItMS0xLjYtMS0uOC0xLjYtMS4xLTEuMy0uNC0yLjEtLjRjLS45%0D%0AIDAtMS43LjItMi40LjYtLjcuNC0xLjMuOS0xLjggMS42bC0yLjMtLjEgMi4xLTExLjhoMTEuMnYy%0D%0ALjRoLTl6TTExNi40IDIxNC4xYy0uNy0uNi0xLjUtLjktMi42LS45LTEuMiAwLTIuMS4zLTIuOC44%0D%0Acy0xLjMgMS4zLTEuNiAyLjEtLjcgMS44LS44IDIuOGMtLjEgMS0uMiAxLjktLjMgMi44bC4xLjFj%0D%0ALjYtMSAxLjQtMS44IDIuNC0yLjMuOS0uNSAyLS43IDMuMy0uNyAxLjEgMCAyLjEuMiAyLjkuNi45%0D%0ALjQgMS42LjkgMi4yIDEuNnMxIDEuNCAxLjQgMi4zYy4zLjkuNSAxLjkuNSAyLjkgMCAuOC0uMSAx%0D%0ALjctLjQgMi42LS4zLjktLjcgMS43LTEuMyAyLjQtLjYuNy0xLjQgMS4zLTIuMyAxLjgtMSAuNS0y%0D%0ALjIuNy0zLjYuNy0xLjcgMC0zLS4zLTQuMS0xcy0xLjgtMS42LTIuNC0yLjZjLS42LTEuMS0uOS0y%0D%0ALjItMS4xLTMuNS0uMi0xLjMtLjMtMi41LS4zLTMuNyAwLTEuNi4xLTMuMS40LTQuNS4zLTEuNS43%0D%0ALTIuOCAxLjQtMy45LjYtMS4xIDEuNS0yIDIuNi0yLjcgMS4xLS43IDIuNC0xIDQtMSAxLjkgMCAz%0D%0ALjQuNSA0LjUgMS41czEuNyAyLjQgMS45IDQuM2gtMi43Yy0uMi0xLjEtLjYtMS45LTEuMy0yLjV6%0D%0AbS00LjkgNy41Yy0uNi4zLTEuMS42LTEuNSAxLjEtLjQuNS0uNyAxLS45IDEuNi0uMi42LS4zIDEu%0D%0AMy0uMyAycy4xIDEuNC4zIDJjLjIuNi41IDEuMi45IDEuNi40LjQuOS44IDEuNSAxLjEuNi4zIDEu%0D%0AMy40IDIgLjRzMS40LS4xIDItLjRjLjYtLjMgMS0uNiAxLjQtMS4xLjQtLjUuNy0xIC45LTEuNnMu%0D%0AMy0xLjIuMy0xLjktLjEtMS40LS4zLTJjLS4yLS42LS41LTEuMi0uOC0xLjYtLjQtLjUtLjktLjgt%0D%0AMS40LTEuMXMtMS4yLS40LTItLjRjLS45LS4xLTEuNS4xLTIuMS4zek02NC45IDIwMy40Yy0xIDEu%0D%0ANi0xLjkgMy4yLTIuNyA1LS44IDEuOC0xLjQgMy42LTEuOSA1LjVzLS44IDMuNy0uOSA1LjVoLTNj%0D%0ALjEtMS45LjQtMy44LjktNS42LjUtMS44IDEuMS0zLjYgMS45LTUuMnMxLjctMy4zIDIuNy00Ljhj%0D%0AMS0xLjUgMi4xLTIuOSAzLjMtNC4xSDUzLjVWMTk3aDE0Ljd2Mi4zYy0xLjIgMS4yLTIuMyAyLjUt%0D%0AMy4zIDQuMXpNMTUuMiAxNjIuMWMuNC0uNy45LTEuMyAxLjUtMS44czEuMy0uOSAyLjEtMS4xYy44%0D%0ALS4zIDEuNi0uNCAyLjUtLjQgMS4yIDAgMi4zLjIgMy4yLjUuOS4zIDEuNi44IDIuMSAxLjNzLjkg%0D%0AMS4yIDEuMiAxLjljLjMuNy40IDEuNC40IDIuMSAwIDEtLjMgMi0uOCAyLjhzLTEuMyAxLjUtMi4z%0D%0AIDEuOWMxLjQuNCAyLjQgMS4xIDMgMi4xczEgMi4yIDEgMy42YzAgMS4xLS4yIDIuMS0uNiAyLjkt%0D%0ALjQuOS0uOSAxLjYtMS42IDIuMnMtMS41IDEtMi40IDEuMy0xLjkuNC0yLjkuNGMtMS4xIDAtMi4x%0D%0ALS4xLTMtLjQtLjktLjMtMS44LS43LTIuNC0xLjNzLTEuMi0xLjMtMS42LTIuMmMtLjQtLjktLjYt%0D%0AMS45LS42LTMgMC0xLjMuMy0yLjUgMS0zLjVzMS43LTEuNyAyLjktMi4yYy0xLS40LTEuNy0xLTIu%0D%0AMy0xLjktLjYtLjktLjktMS44LS45LTIuOC0uMS0uOS4xLTEuNy41LTIuNHptMi45IDE2LjJjLjku%0D%0AOCAyLjEgMS4yIDMuNSAxLjIuNyAwIDEuMy0uMSAxLjktLjMuNi0uMiAxLjEtLjUgMS41LS45cy43%0D%0ALS45IDEtMS40LjMtMS4xLjMtMS44YzAtLjYtLjEtMS4yLS40LTEuN3MtLjYtMS0xLTEuNC0uOS0u%0D%0ANy0xLjUtLjljLS42LS4yLTEuMi0uMy0xLjgtLjMtLjcgMC0xLjMuMS0xLjkuMy0uNi4yLTEuMS41%0D%0ALTEuNS45LS40LjQtLjguOC0xIDEuNC0uMi41LS40IDEuMS0uNCAxLjgtLjEgMS4yLjMgMi4zIDEu%0D%0AMyAzLjF6bS0uMy0xMmMuMi41LjUuOC45IDEuMS40LjMuOC41IDEuMy43LjUuMSAxIC4yIDEuNi4y%0D%0AIDEuMSAwIDItLjMgMi43LTEgLjctLjYgMS4xLTEuNSAxLjEtMi43cy0uNC0yLTEuMS0yLjZjLS43%0D%0ALS42LTEuNi0uOS0yLjctLjktLjUgMC0xIC4xLTEuNS4ycy0uOS40LTEuMy43Yy0uNC4zLS42Ljct%0D%0ALjggMS4xLS4yLjQtLjMuOS0uMyAxLjUtLjIuNy0uMSAxLjIuMSAxLjd6TTQuNSAxMjUuMWMuOC42%0D%0AIDEuNy45IDIuOC45IDEuNyAwIDIuOS0uNyAzLjctMi4yczEuMy0zLjYgMS40LTYuNmwtLjEtLjFj%0D%0ALS41IDEtMS4yIDEuNy0yLjIgMi4zLS45LjYtMiAuOC0zLjEuOC0xLjIgMC0yLjItLjItMy4xLS42%0D%0ALS45LS40LTEuNi0uOS0yLjMtMS42LS42LS43LTEuMS0xLjUtMS40LTIuNC0uMy0uOS0uNS0yLS41%0D%0ALTMuMXMuMi0yLjEuNS0zYy40LS45LjktMS43IDEuNS0yLjMuNy0uNyAxLjUtMS4yIDIuNC0xLjUu%0D%0AOS0uNCAxLjktLjUgMy0uNXMyLjEuMiAzIC41Yy45LjMgMS44LjkgMi41IDEuNy43LjggMS4zIDEu%0D%0AOSAxLjcgMy4zLjQgMS40LjYgMy4yLjYgNS4zIDAgMy45LS42IDYuOS0xLjkgOS0xLjIgMi4xLTMu%0D%0AMiAzLjItNiAzLjItMS45IDAtMy41LS41LTQuNy0xLjRzLTItMi40LTIuMS00LjRoMi43Yy40IDEu%0D%0AMi45IDIuMSAxLjYgMi43em03LjItMTQuMmMtLjItLjYtLjUtMS4yLS45LTEuNnMtLjktLjktMS41%0D%0ALTEuMWMtLjYtLjMtMS4yLS40LTItLjRzLTEuNS4xLTIuMS40LTEgLjctMS40IDEuMmMtLjQuNS0u%0D%0ANiAxLjEtLjggMS43LS4yLjYtLjIgMS4zLS4yIDIgMCAuNi4xIDEuMi4zIDEuOC4yLjYuNSAxLjEu%0D%0AOSAxLjUuNC40LjkuOCAxLjQgMS4xczEuMS40IDEuOC40IDEuMy0uMSAxLjktLjQgMS4xLS42IDEu%0D%0ANS0xLjFjLjQtLjUuNy0xIC45LTEuNi4yLS42LjMtMS4yLjMtMS45LjItLjcuMS0xLjQtLjEtMnpN%0D%0AMTMuNiA3NlY1OS44SDcuOHYtMi4yYy44IDAgMS41LS4xIDIuMi0uMi43LS4xIDEuNC0uMyAyLS43%0D%0ALjYtLjMgMS4xLS44IDEuNS0xLjMuNC0uNi43LTEuMy44LTIuMWgyLjFWNzZoLTIuOHpNMjEuOSA2%0D%0AMi4zYzAtLjkuMS0xLjguMy0yLjYuMi0uOS40LTEuNy43LTIuNC4zLS44LjgtMS40IDEuMy0yIC42%0D%0ALS42IDEuMy0xIDIuMS0xLjRzMS45LS41IDMtLjVjMS4yIDAgMi4yLjIgMyAuNXMxLjUuOCAyLjEg%0D%0AMS40Yy42LjYgMSAxLjIgMS4zIDIgLjMuOC42IDEuNi43IDIuNC4yLjkuMyAxLjcuMyAyLjZzLjEg%0D%0AMS44LjEgMi42IDAgMS43LS4xIDIuNi0uMSAxLjgtLjMgMi42Yy0uMi45LS40IDEuNy0uNyAyLjRz%0D%0ALS44IDEuNC0xLjMgMmMtLjYuNi0xLjIgMS0yLjEgMS40cy0xLjguNS0zIC41LTIuMi0uMi0zLS41%0D%0ALTEuNS0uOC0yLjEtMS40Yy0uNi0uNi0xLTEuMi0xLjMtMnMtLjYtMS42LS43LTIuNGMtLjItLjkt%0D%0ALjMtMS43LS4zLTIuNiAwLS45LS4xLTEuOC0uMS0yLjYuMS0uOC4xLTEuNy4xLTIuNnptMi45IDUu%0D%0ANGMuMSAxLjEuMiAyIC41IDMgLjMuOS44IDEuNyAxLjQgMi40czEuNSAxIDIuNyAxYzEuMiAwIDIt%0D%0ALjMgMi43LTFzMS4xLTEuNCAxLjQtMi40Yy4zLS45LjUtMS45LjUtMyAuMS0xLjEuMS0yIC4xLTIu%0D%0AOVY2M2MwLS43LS4xLTEuMy0uMi0ycy0uMi0xLjMtLjQtMmMtLjItLjYtLjQtMS4yLS44LTEuN3Mt%0D%0ALjgtLjktMS4zLTEuMi0xLjItLjQtMi0uNC0xLjQuMS0yIC40Yy0uNS4zLTEgLjctMS4zIDEuMi0u%0D%0ANC41LS42IDEtLjggMS43LS4yLjYtLjMgMS4zLS40IDItLjEuNy0uMSAxLjMtLjIgMnYxLjhjLjEu%0D%0AOS4xIDEuOS4xIDIuOXoiLz48Zz48cGF0aCBkPSJNNTMuNSAzOC4yVjIxLjloLTUuOXYtMi4yYy44%0D%0AIDAgMS41LS4xIDIuMi0uMi43LS4xIDEuNC0uMyAyLS43LjYtLjMgMS4xLS44IDEuNS0xLjMuNC0u%0D%0ANi43LTEuMy44LTIuMWgyLjF2MjIuN2gtMi43ek02OS4xIDM4LjJWMjEuOWgtNS45di0yLjJjLjgg%0D%0AMCAxLjUtLjEgMi4yLS4yLjctLjEgMS40LS4zIDItLjcuNi0uMyAxLjEtLjggMS41LTEuMy40LS42%0D%0ALjctMS4zLjgtMi4xaDIuMXYyMi43aC0yLjd6Ii8+PC9nPjwvc3ZnPg==) no-repeat center;
  background-size: 88%;
  height: 20em;
  padding-bottom: 1%;
  position: relative;
  width: 20em;
;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}
.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}
.para{

  display: block;
  text-align:center


}

.cadre{

  background-color:#646464;
  border: 2px;
  border-color:#29030334;

}
